.contactInfo {
  background-color: $primary;
  color: $lightText;
  // width: 340px;
  padding: 30px 30px 50px 70px;
  float: right;
  margin: 0 0 40px 65px;
}

.contactInfo h3 {
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: 400;
}

.contactInfo a:hover {
  padding-left: 8px;
}

.about p {
  max-width: 670px;
  margin-bottom: 50px;
}

.about img {
  padding-bottom: 50px;
  max-height: 80%;
}
