/******* ABOUT SECTION - STYLES START *******/

.container-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 100%;
}

.contactInfo {
  background-color: $primary;
  // width: 340px;
  padding: 30px 30px 50px 70px;
  float: right;
  margin: 0 0 40px 65px;
}

.contactInfo a,
.contactInfo li p {
  color: $lightText;
}

.contactInfo h3 {
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: 400;
}

.contactInfo li a:hover {
  color: #000;
  font-style: italic;
}

#about p {
  max-width: 670px;
  margin-bottom: 25px;
}

#about img {
  padding-top: 25px;
  padding-bottom: 50px;
  max-height: 80%;
}

/******* ABOUT SECTION - STYLES END *******/
