/******* BASE STYLES START *******/

.wrapper {
  max-width: 800px;
  width: 100%;
  margin-left: 50px;
}

.about,
.skills,
.portfolio,
.contact {
  margin-top: 65px;
  padding-top: 85px;
}

.contact {
  padding-bottom: 85px;
}

body {
  color: #000000;
  line-height: 2;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(to right, #fff0f0 0%, #fff0f0 60%, white 60%);
  background-position: center;
}

ul li {
  text-decoration: none;
  color: inherit;
  list-style: none;
  list-style-type: none;
}

/******* BASE STYLES END *******/
