/******* HOME SECTION - STYLES START *******/

#home {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#home .container-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 100%;
}

.homeContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.portrait {
  max-height: calc(95vh - 185px);
  width: auto;
  object-fit: cover;
}

.resume {
  background-color: #f44647;
  display: flex;
  align-items: center;
  padding: 50px 70px;
  margin-top: 0px;
}

.resume li + li {
  margin-left: 100px;
}

.resume a {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
  position: relative;
  display: inline-block;
}

.resume a:before {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 0;
  height: 2px;
  width: 100%;
  transition: 0.35s ease-out;
  background-color: #fff;
}

.resume a:hover:before {
  width: 0;
}

/******* HOME SECTION - STYLES END *******/
