.home {
    height: 100vh;
    padding: 85px 0;
    margin: 0;
}

.home .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

// .home .main-photo {
//     max-height: calc(100vh - 170px);
//     width: 536px;
//     object-fit: cover;
// }



