/****************** MEDIA QUERY FOR LARGE SCREENS ******************/
@media (min-width: 2800px) {
    h1 {
        font-size: 4vw;
        line-height: 4vw;
    }
}

/****************** MEDIA QUERY FOR TABLET ******************/
@media (max-width: 900px) {

    h1 {
        font-size: 2rem;
    }

    .navList {
        display: none;
        width: 100%;
    }

    .navList.show {
        display: block;
    }

    .hamburger {
        display: block;

    }

}

/******* MEDIA QUERY FOR MOBILE SCREENS *******/
        header {
            padding-bottom: 50px;
        }
    
        .headerInfo {
            flex-direction: column-reverse;
    
            .headerImage {
                margin: 31px 0;
                max-width: 50%;
                align-self: center;
            }
        }

    

        