/******* TYPOGRAPHY - STYLES START *******/

@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,500,700,800&display=swap");

html {
  font-size: 125%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.35s ease-out;
}

#home .entry-title {
  position: absolute;
  color: $primary;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 143px;
  letter-spacing: -4px;
  z-index: 1;
  left: 0;
  padding-top: 75px;
}

#home span {
  text-decoration: underline;
}

.section h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 5px;
  margin-bottom: 40px;
}

h3 {
  color: $lightText;
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: 400;
}

/******* TYPOGRAPHY - STYLES END *******/
