@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,500,700,800&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

.home h1 {
  position: absolute;
  color: #f44647;
  font-weight: 800;
  font-size: 5rem;
  line-height: 143px;
  letter-spacing: -4px;
  z-index: 1;
  left: 0;
  padding-top: 125px;
  padding-left: 50px;
}

.home span {
  text-decoration: underline;
}

h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 5px;
  margin-bottom: 40px;
}

/******* BASE STYLES START *******/
.wrapper {
  max-width: 800px;
  width: 100%;
  margin-left: 50px;
}

.about,
.skills,
.portfolio,
.contact {
  margin-top: 65px;
  padding-top: 85px;
}

.contact {
  padding-bottom: 85px;
}

body {
  color: #000000;
  line-height: 2;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#fff0f0), color-stop(60%, #fff0f0), color-stop(60%, white));
  background: linear-gradient(to right, #fff0f0 0%, #fff0f0 60%, white 60%);
  background-position: center;
}

ul li {
  text-decoration: none;
  color: inherit;
  list-style: none;
  list-style-type: none;
}

/******* BASE STYLES END *******/
.navContainer {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  max-width: 40%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  padding: 250px 100px 85px 70px;
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navList li a {
  display: inline-block;
}

.hamburger {
  display: none;
  font-size: 20px;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}

.navSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  left: 70px;
}

.navSocial li {
  margin-right: 25px;
}

.navSocial li a {
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
}

.navTitle {
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
  font-weight: 700;
  margin-bottom: 51px;
  position: relative;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

.home {
  min-height: 100vh;
  margin: 0;
}

.homeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.home img {
  max-height: calc(95vh - 185px);
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.resume {
  background-color: #f44647;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 70px;
  margin-top: 45px;
}

.resume li + li {
  margin-left: 100px;
}

.resume a {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
  position: relative;
  display: inline-block;
}

.resume a:before {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 0;
  height: 2px;
  width: 100%;
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
  background-color: #fff;
}

.skillsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
}

.iconItem li img {
  max-height: 80px;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #ccc;
}

.iconItem {
  width: calc(31% - 65px);
  margin-bottom: 80px;
}

.skillsWrap .iconItem h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-top: 30px;
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

.skillsWrap .iconItem:hover h4 {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.contactInfo {
  background-color: #f44647;
  color: #fff;
  width: 340px;
  padding: 30px 30px 50px 70px;
  float: right;
  margin: 0 0 40px 65px;
}

.contactInfo h3 {
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: 400;
}

.contactInfo a:hover {
  padding-left: 8px;
}

.about p {
  max-width: 670px;
  margin-bottom: 50px;
}

.about img {
  padding-bottom: 50px;
  max-height: 80%;
}

.gallery-image {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.img-box {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

.contactForm {
  margin-top: 40px;
}

.contactForm * {
  overflow: hidden;
}

.contactForm p {
  margin-bottom: 0;
}

.contactForm input[type=text],
.contactForm input[type=email],
.contactForm textarea {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 3px;
  color: #000;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid;
  padding-top: 13px;
  padding-bottom: 0px;
  padding-left: 0;
  margin: 10px 0;
  height: 28px;
  width: 100%;
  -webkit-box-sizing: initial;
          box-sizing: initial;
}

.contactForm input[name=your-name] {
  margin-top: 0;
  padding-top: 0;
}

.contactForm textarea {
  height: 150px;
}

p.contact-submit-holder {
  margin-top: 30px;
  margin-bottom: 0 !important;
}

.contactForm input[type=submit] {
  display: inline-block;
  border: 2px solid;
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  background-color: transparent;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  width: 100%;
  letter-spacing: 8px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.contactForm input[type=submit]:hover {
  opacity: 0.8;
}

.contactForm input[type=text]::-webkit-input-placeholder,
.contactForm input[type=email]::-webkit-input-placeholder,
.contactForm textarea::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]:-ms-input-placeholder,
.contactForm input[type=email]:-ms-input-placeholder,
.contactForm textarea:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]::-webkit-input-placeholder, .contactForm input[type=email]::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]::-moz-placeholder, .contactForm input[type=email]::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]:-ms-input-placeholder, .contactForm input[type=email]:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]::-ms-input-placeholder, .contactForm input[type=email]::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]::placeholder,
.contactForm input[type=email]::placeholder,
.contactForm textarea::placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

/****************** MEDIA QUERIES ******************/
@media (max-width: 1366px) {
  h1 {
    font-size: 4vw;
    line-height: 4vw;
  }
  .home {
    padding: 60px 0;
  }
  .home img {
    width: 470px;
    max-height: calc(100vh - 120px);
  }
  .home h1 {
    font-size: 120px;
    line-height: 123px;
  }
}
@media (min-width: 1200px) and (max-height: 660px) {
  .home img {
    width: 440px;
  }
  .home h1 {
    font-size: 110px;
    line-height: 113px;
  }
}
@media (max-width: 1199px) {
  .wrapper {
    margin: 0 auto;
  }
  .navSocial {
    left: 15px;
    bottom: 15px;
  }
  .navContainer {
    padding-bottom: 60px;
  }
  section {
    margin-top: 10px;
    padding-top: 80px;
  }
  .wrapper > section:last-of-type {
    padding-bottom: 55px;
  }
}
@media (max-width: 1199px) and (max-height: 550px) {
  .navSocial {
    position: relative;
    left: auto;
    bottom: auto;
  }
  .navContainer {
    padding-bottom: 60px;
  }
}
@media (max-width: 1020px) {
  body {
    background: #fff0f0;
  }
}
@media (max-width: 991px) {
  .wrapper {
    margin-top: 48px;
    margin-left: 10px;
    margin-right: 10px;
  }
  h1 {
    font-size: 2rem;
  }
  .navList, .navTitle, .navSocial {
    display: none;
    width: 100%;
  }
  .navList.show {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home h1 {
    font-size: 110px;
    line-height: 113px;
  }
  .skillsWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skillsWrap .iconItem {
    margin-bottom: 65px;
  }
  .homeContent {
    width: 100%;
  }
  .about,
.skills,
.portfolio,
.contact {
    margin-top: 0px;
    padding-top: 0px;
  }
  .contactInfo {
    margin: 0 0 40px 40px;
  }
}
@media (max-width: 767px) {
  .home img {
    width: auto;
    max-height: 500px;
    max-width: 65%;
  }
  .home h1 {
    font-size: 70px;
    line-height: 73px;
    max-width: 340px;
    letter-spacing: -2px;
  }
  .home {
    padding: 55px 0 0;
    height: auto;
  }
  .topText, .middleText {
    padding-top: 45px;
  }
  .contactInfo {
    width: 280px;
    padding: 50px 30px 50px 40px;
  }
}
@media (max-width: 575px) {
  .home img {
    max-width: 85%;
  }
  .home h1 {
    font-size: 56px;
    line-height: 62px;
    padding: 50px 0;
  }
  p, h2 {
    margin-bottom: 20px;
  }
  .resume {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .resume li {
    width: 100%;
  }
  .resume li + li {
    margin-left: 0;
    margin-top: 20px;
  }
  .skillsWrap .iconItem {
    width: 100%;
    margin-bottom: 40px;
  }
  .skillsWrap > div:nth-last-of-type(2) {
    margin-bottom: 40px;
  }
  .skillsWrap .iconItem p {
    max-width: 100%;
  }
  .contactInfo {
    padding: 30px;
    margin: 0 0 40px 0px;
    float: none;
    width: 100%;
  }
  .contactInfo li + li {
    margin-top: 20px;
  }
  .topText, .middleText {
    padding-top: 0;
  }
}