@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,500,700,800&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===================================
    Global CSS
====================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-moz-selection {
  background: #fff0f0;
}

*::selection {
  background: #fff0f0;
}

body {
  color: #000000;
  line-height: 2;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#fff0f0), color-stop(60%, #fff0f0), color-stop(60%, white));
  background: linear-gradient(to right, #fff0f0 0%, #fff0f0 60%, white 60%);
  background-position: center;
}

p {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

a:hover {
  color: #f44647;
}

.section a {
  font-weight: 700;
  color: #f44647;
}

.section a:hover {
  color: #000;
}

.block-right {
  margin-right: -100px;
}

.block-right .block-right {
  margin-right: 0;
}

img.block-right {
  max-width: calc(100% + 100px);
}

.page-wrapper {
  pointer-events: auto;
  width: 100%;
  background-color: #fff0f0;
  max-width: 800px;
}

.section h2.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 5px;
  margin-bottom: 40px;
}

.section {
  margin-top: 65px;
  padding-top: 85px;
}

.single .section {
  min-height: 100vh;
}

.page-wrapper > section:first-of-type {
  margin-top: 0;
}

.page-wrapper > section:last-of-type {
  padding-bottom: 85px;
}

.section .section-des {
  margin-bottom: 40px;
}

/******* BASE STYLES END *******/
.arrow {
  text-align: left;
  padding-left: 50px;
  padding-top: 20px;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
/* ===================================
    2. Nav Menu CSS
====================================== */
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav-list li a {
  display: inline-block;
}

.nav-list li.current a {
  color: #f44647;
}

.nav-list li ul {
  padding-left: 28px;
  display: none;
  width: 100% !important;
}

.nav-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  left: 200px;
  bottom: 79px;
}

.nav-soc li {
  margin-right: 25px;
}

.nav-soc li:last-child {
  margin-right: 0;
}

.nav-soc li a {
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
}

.nav-container .site-title {
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
  font-weight: 700;
  margin-bottom: 51px;
  position: relative;
  display: inline-block;
}

.nav-container .site-title:before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 5px;
  height: 2px;
  width: calc(100% - 5px);
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
  background-color: #000000;
}

.nav-container .site-title:hover:before {
  width: 0;
  background-color: #f44647;
}

.nav-btn {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  padding: 14px 10px;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
  cursor: pointer;
  z-index: 10;
  background-color: #fff;
}

.nav-btn.scroll-bottom {
  top: -50px;
}

.nav-btn:hover .nav-btn-cover:before {
  margin-left: 9px;
}

.nav-btn:hover .nav-btn-cover .menu-line {
  margin-left: 17px;
}

.nav-btn.active .nav-btn-cover .menu-line {
  opacity: 0;
}

.nav-btn.active .nav-btn-cover:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
          transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  margin-left: 0;
  width: 26px;
}

.nav-btn.active .nav-btn-cover:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
  width: 26px;
}

.nav-btn .nav-btn-cover {
  position: relative;
  height: 20px;
  width: 30px;
  display: block;
}

.nav-btn .nav-btn-cover .menu-line {
  width: 13px;
  height: 3px;
  position: absolute;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin-left: 0;
  top: 8px;
  background-color: #000;
}

.nav-btn .nav-btn-cover:after,
.nav-btn .nav-btn-cover:before {
  content: "";
  height: 3px;
  width: 30px;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 8px;
  background-color: #000;
}

.nav-btn .nav-btn-cover:before {
  -webkit-transform: translate3d(0, -8px, 0px);
          transform: translate3d(0, -8px, 0px);
  width: 21px;
  margin-left: 0;
}

.nav-btn .nav-btn-cover:after {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

@media (min-width: 1200px) {
  .nav-btn {
    display: none;
  }
}
/* ===================================
    Home Section CSS
====================================== */
#home {
  height: 100vh;
  padding: 85px 0;
  margin: 0;
}

#home .container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  height: 100%;
}

#home .main-photo {
  max-height: calc(100vh - 170px);
  width: 536px;
  -o-object-fit: cover;
     object-fit: cover;
}

#home .entry-title {
  position: absolute;
  color: #f44647;
  font-weight: 800;
  font-size: 140px;
  line-height: 143px;
  letter-spacing: -4px;
  z-index: 1;
  left: 0;
}

#home .entry-title span {
  text-decoration: underline;
}

#home .main-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

#home .main-btn img {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  display: block;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* ===================================
    Skills Section CSS
====================================== */
.skillsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 80px;
}

.iconItem li img {
  max-height: 80px;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #ccc;
}

.iconItem {
  width: calc(31% - 75px);
  margin-bottom: 80px;
}

.skillsWrap .iconItem h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-top: 30px;
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

.skillsWrap .iconItem:hover h4 {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

/* ===================================
    About Section CSS
====================================== */
.about-img {
  max-width: 100%;
  display: block;
}

.about-info {
  background-color: #f44647;
  color: #fff;
  width: 330px;
  padding: 50px 30px 50px 70px;
  float: right;
  margin: 0 0 40px 65px;
}

.about-info li + li {
  margin-top: 44px;
}

.about-info h6 {
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: 400;
}

.about-info a {
  color: #fff;
  display: inline-block;
  font-weight: 400;
}

.about-info a:hover {
  padding-left: 8px;
}

.topText,
.middleText {
  padding-top: 53px;
}

.topText p,
.middleText p {
  max-width: 670px;
}

/* ===================================
    Portfolio Section CSS
====================================== */
.gallery-image {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 250px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.img-box {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.point {
  min-width: 20px;
  height: 20px;
  background-color: #f44647;
  border-radius: 100%;
  z-index: 2;
  border: 2px #333333 solid;
  position: relative;
  left: 1px;
}

.timeline ul li .content {
  width: 50%;
}

.timeline ul li:nth-child(odd) .content {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
  padding-left: 60px;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 50%;
  padding: 0 20px;
  font-weight: normal;
}

.timeline ul li .date h4 {
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.timeline ul li .content h3 {
  padding: 10px 0px;
  color: #f44647;
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.timeline ul li .content p {
  padding: 10px 20px;
  margin-top: 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
  float: right;
}

.timeline ul li .date img {
  max-width: 450px;
}

.contactForm {
  margin: 40px 100px 40px 50px;
}

.contactForm * {
  overflow: hidden;
}

.contactForm p {
  margin-bottom: 0;
}

.contactForm input[type=text],
.contactForm input[type=email],
.contactForm textarea {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 3px;
  color: #000;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid;
  padding-top: 13px;
  padding-bottom: 0px;
  padding-left: 0;
  margin: 10px 0;
  height: 28px;
  width: 100%;
  -webkit-box-sizing: initial;
          box-sizing: initial;
}

.contactForm input[name=your-name] {
  margin-top: 0;
  padding-top: 0;
}

.contactForm textarea {
  height: 150px;
}

p.contact-submit-holder {
  margin-top: 30px;
  margin-bottom: 0 !important;
}

.contactForm input[type=submit] {
  display: inline-block;
  border: 2px solid;
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  background-color: transparent;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  width: 100%;
  letter-spacing: 8px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.contactForm input[type=submit]:hover {
  opacity: 0.8;
}

.contactForm input[type=text]::-webkit-input-placeholder,
.contactForm input[type=email]::-webkit-input-placeholder,
.contactForm textarea::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]:-ms-input-placeholder,
.contactForm input[type=email]:-ms-input-placeholder,
.contactForm textarea:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]::-webkit-input-placeholder, .contactForm input[type=email]::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]::-moz-placeholder, .contactForm input[type=email]::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]:-ms-input-placeholder, .contactForm input[type=email]:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]::-ms-input-placeholder, .contactForm input[type=email]::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

.contactForm input[type=text]::placeholder,
.contactForm input[type=email]::placeholder,
.contactForm textarea::placeholder {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  opacity: 1;
}

/* ===================================
    Responsive CSS
====================================== */
@media (max-width: 1366px) {
  #home {
    padding: 60px 0;
  }
  #home .main-photo {
    width: 470px;
    max-height: calc(100vh - 120px);
  }
  #home .main-btn img {
    width: 40px;
  }
  #home .entry-title {
    font-size: 120px;
    line-height: 123px;
  }
  .block-right {
    margin-right: -60px;
  }
  img.block-right {
    max-width: calc(100% + 60px);
  }
}
@media (min-width: 1200px) and (max-height: 660px) {
  #home .main-photo {
    width: 440px;
  }
  #home .entry-title {
    font-size: 110px;
    line-height: 113px;
  }
}
@media (max-width: 1199px) {
  .page-wrapper {
    margin: 0 auto;
  }
  .nav-soc {
    left: 15px;
    bottom: 15px;
  }
  .nav-container {
    padding-bottom: 60px;
  }
  .section {
    margin-top: 0;
    padding-top: 80px;
  }
  .section {
    padding-top: 55px;
  }
  .page-wrapper > section:last-of-type {
    padding-bottom: 55px;
  }
}
@media (max-width: 1199px) and (max-height: 550px) {
  .nav-soc {
    position: relative;
    left: auto;
    bottom: auto;
  }
  .nav-container {
    padding-bottom: 60px;
  }
}
@media (max-width: 1020px) {
  body {
    background: #fff0f0;
  }
}
@media (max-width: 991px) {
  .skillsWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skillsWrap .iconItem {
    margin-bottom: 65px;
  }
  #home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home .entry-title {
    font-size: 110px;
    line-height: 113px;
  }
  .serv-block-wrap .serv-block-item {
    margin-bottom: 65px;
  }
  .block-right {
    margin-right: 0;
  }
  img.block-right {
    max-width: 100%;
  }
  .container-wrap {
    width: 100%;
  }
  .about-info {
    margin: 0 0 40px 40px;
  }
}
@media (max-width: 767px) {
  .nav-btn {
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .page-wrapper {
    margin-top: 48px;
  }
  #home .main-photo {
    width: auto;
    max-height: 500px;
    max-width: 65%;
  }
  #home .entry-title {
    font-size: 70px;
    line-height: 73px;
    max-width: 340px;
    letter-spacing: -2px;
  }
  #home {
    padding: 55px 0 0;
    height: auto;
  }
  #home .main-btn img {
    display: none;
  }
  .serv-block-wrap .serv-block-item {
    width: calc(50% - 15px);
  }
  .topText,
.middleText {
    padding-top: 45px;
  }
  .about-info {
    width: 280px;
    padding: 50px 30px 50px 40px;
  }
}
@media (max-width: 575px) {
  #home .main-photo {
    max-width: 85%;
  }
  #home .entry-title {
    font-size: 56px;
    line-height: 62px;
    padding: 50px 0;
  }
  p,
.section h2.title,
.section {
    margin-bottom: 20px;
  }
  .about-info {
    padding: 30px;
    margin: 0 0 40px 0px;
    float: none;
    width: 100%;
  }
  .about-info li + li {
    margin-top: 20px;
  }
  .topText,
.middleText {
    padding-top: 0;
  }
  .signature {
    max-width: 100%;
  }
}